.home {
  min-height: 100vh;
  .container {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    position: relative;
    align-items: center;
    .countdownWrapper {
      color: #febf33;
      text-align: center;
      font-size: 16px;
      .Countdown {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .Countdown-col {
          display: flex;
          flex-direction: row;
          color: #febf33;
          justify-content: center;
          align-items: center;
          font-size: 25px;
        }
        .Countdown-col-element {
          color: #febf33;
          font-size: 30px;
        }
      }
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 0 0 0;
    .walletWrapper {
      width: 200px;
      color: #e58f0e;
      font-size: 16px;
      padding: 5px 30px;
      border: 1px solid #e58f0e;
      border-radius: 20px;
      text-align: center;
      font-weight: bold;
    }

    .logo {
      width: 150px; // Adjust the width to make it smaller (change this value as needed)
      height: auto; // Keeps the aspect ratio of the logo
      margin-bottom: 20px; // Adds some space between the logo and the rest of the content
    }
    .socialMedias {
      width: 200px;
      text-align: right;
      padding: 15px;
      a {
        margin: 0 15px;
      }
      img {
        width: 27px;
      }
    }
  }
  .slogan {
    font-size: 20px;
    font-weight: bold;
    line-height: 16px;
    color: white;
    text-align: center;
  }
  .audit {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 10px;
    background: #e58f0e;
    border-radius: 20px;
    width: 200px;
    margin: 20px auto;
  }
  .mainContent {
    width: 800px;
    max-width: 100%;
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    .logo {
      width: 200px; // Adjust the width to make it smaller (change this value as needed)
      height: auto; // Keeps the aspect ratio of the logo
      margin-bottom: 20px; // Adds some space between the logo and the rest of the content
    }
    .box {
      width: calc(50% - 10px);
    }
    .leftBox {
      flex: 1;
      padding: 20px;
      background: #e58f0e;
      border-radius: 20px;
    }
    .rightBox {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 20px;
    }
    .dataRow {
      display: flex;
      justify-content: space-between;
      align-content: center;
      margin: 5px 0;
      color: #49221a;
      font-size: 18px;
      line-height: 35px;
      .name {
        font-weight: 400;
        font-size: 15px;
        color: #49221a;
      }
      .value {
        font-weight: 600;
        font-size: 16px;
        color: #feec6c;
      }
    }

    .ant-input-affix-wrapper {
      height: 55px;
      margin: 0;
      position: relative;
      border: 2px solid #731c00;
      box-shadow: none;
      backdrop-filter: blur(20px);
      box-sizing: border-box;
      border-radius: 40px;
      background: #c6660d;
      .ant-input-suffix,
      .ant-input-prefix {
        color: #feec6c;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        user-select: none;
        span {
          color: #feec6c;
        }
      }
      .suffix {
        padding-right: 10px;
      }

      .ant-input {
        border: none;
        color: #feec6c;
        background: transparent;
        font-size: 16px;
        font-weight: 600;
        line-height: 55px;
        text-align: center;
        padding-left: 25px;
      }

      .ant-input:hover {
        border: none !important;
      }
      .ant-input:focus {
        border: none !important;
        outline: 0;
        box-shadow: none !important;
      }
    }

    .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
      border-color: #731c00 !important;
      border-right-width: 2px;
    }

    .ant-input-affix-wrapper-focused {
      outline: 0;
      border: 2px solid #731c00 !important;
      box-shadow: none !important;
    }

    .buyButton {
      border: 2px solid #731c00;
      border-radius: 30px;
      color: #731c00;
      font-size: 16px;
      font-weight: 600;
      line-height: 42px;
      padding: 5px 0;
      text-align: center;
      margin-top: 10px;

      &:hover {
        cursor: pointer;
        border: 2px solid #feec6c;
        color: #feec6c;
      }
    }


    .actionWrapper {
      margin-top: 30px;
      border-top: 1px dashed #731c00;
      padding-top: 10px;

      .actionButtons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
          width: calc(50% - 10px);
          text-align: center;
          border: 2px solid #731c00;
          color: #731c00;
          font-weight: bold;
          font-size: 16px;
          padding: 8px 0;
          border-radius: 30px;
          &:hover {
            cursor: pointer;
            border: 2px solid #feec6c;
            color: #feec6c;
          }
        }
      }
    }

    .contractInfo {
      background: #c6660d;
      border-radius: 20px;
      padding: 20px;
      display: flex;
      align-content: center;
      justify-content: space-between;
      img {
        width: 25%;
      }

      .data {
        width: 65%;

        h1 {
          color: #49221a;
          font-size: 25px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .dataRow {
          font-size: 17px;
        }
      }
    }

    .referral {
      background: #401b0b;
      border-radius: 20px;
      padding: 20px;
      margin-top: 20px;
      h1 {
        color: #e58f0e;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      p {
        color: #febf33;
      }
      .refWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .referralLink {
          border: 2px solid #e58f0e;
          box-sizing: border-box;
          border-radius: 40px;
          padding: 5px 20px;
          color: #e58f0e;
          flex-grow: 2;
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          max-width: 70%;
        }
        .copyButton {
          border: 2px solid #e58f0e;
          box-sizing: border-box;
          border-radius: 40px;
          padding: 5px 20px;
          color: #e58f0e;

          &:hover {
            cursor: pointer;
            border: 2px solid #feec6c;
            color: #feec6c;
          }
        }
      }
    }
  }

  @media (max-width: 765px) {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      padding: 20px 0 0 0;
      margin-bottom: 30px;
      .walletWrapper {
        margin-left: auto;
        width: 150px;
        font-size: 15px;
        padding: 5px 0;
      }

      .logo {
        width: 100px; // Adjust the width to make it smaller (change this value as needed)
        height: auto; // Keeps the aspect ratio of the logo
        margin-bottom: 20px; // Adds some space between the logo and the rest of the content
      }
      .socialMedias {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        a {
          margin: 0 20px;
        }
        img {
          width: 30px;
        }
      }
    }
    .slogan {
      line-height: 20px;
    }
    .mainContent {
      margin: 30px auto 0 auto;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      .logo {
        width: 150px; // Adjust the width to make it smaller (change this value as needed)
        height: auto; // Keeps the aspect ratio of the logo
        margin-bottom: 20px; // Adds some space between the logo and the rest of the content
      }
      .box {
        width: calc(100% - 20px);
      }

      .referral {
        margin-top: 10px;
      }
    }
  }
}

.blink_me {
  animation: blinker 2s linear 1;
}

@keyframes blinker {
  50% {
    color: white;
    transform: scale(1.1);
  }
}
